*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cardo", serif !important;
    color: #393e46;
}
/* Fuente */
@font-face {
    font-family: "Cardo", serif;
    src: url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
}

/* -------------APLICANDO GRID AL INDEX------------------ */
.grid-padre1 {
    
    display: grid;
    grid-template-areas:
        "main-index main-index main-index main-index main-index main-index"
        "grid-body grid-body grid-body grid-body grid-body grid-body"
        "footer footer footer footer footer footer";
}

/* ----------HEADER Y NAV------------------- */
.header {
    background-color: #f4f4f2;
}
.nav-item:hover a{
    transform: scale(1.1);
    color: #ff7f50 !important;
}
/*---------------FIN HEADER Y NAV-----------------  */

/* ----------------MAIN--------------- */
.main-index{
    grid-area: main-index;
    min-height: 100vh;
    background-image: url(../recursos/imagenes/fondoparaindex.jpg) ;
    background-size: cover;
}

.frase-principal h1{
    display: flex;
    justify-content: center;
    padding: 3.4375rem;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
}
.section-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-top: 3.125rem;
}
.section-index img{
    border: solid 1px black;
}
.section-index div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-index div a{
    text-decoration: none;
    color: black;
    margin-top: 1vh;
    font-size: 1.3rem;
}
/* contenedor de imagenes */
.grid-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5rem;
    margin: 3.125rem 0;
    padding: 3.125rem;
}
.galery-items{
    position: relative;
}
.galery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(0.5);
}
.galery-img:hover{
    filter: opacity(1);
}
/* media query de contenedor de imagenes */
@media (max-width:768px) {
    .grid-body{
        grid-template-columns: repeat(1,1fr);
    }
}

/* ---------FIN MAIN ----------------*/

/* -----------------FOOTER---------------- */
.footer {
    /* margin-top: 3rem; */
    display: grid;
    grid-area: footer;
    background-color: #f4f4f2;
    font-size: 1rem;
}
.redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 1.2rem;
}
.icon{
    margin: 0.2rem;
}
.icon:hover a img{
    transform: scale(1.2);
}
.footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;
    padding-left: 1rem;
}
.footer a{
    text-decoration: none;
    /* color: black; */
}
.flecha-arriba:hover{
    transform: scale(1.2);
}


/* -------------MAIN - SOBRE MI------------ */

.sobre-mi{
    display: flex;
    justify-content: center;
}
.sobre-mi img{
    padding: 1.30rem;
}
.sobre-mi-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.sobre-mi-2 section h1 ,h2{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.sobre-mi-2 section p{
    font-size: 1.3rem;
    text-align: center;
}
/* Medias Query - sobre mi*/
@media(max-width:768px){
    .sobre-mi{
        flex-wrap: wrap;
    }
    .sobre-mi img{
        width: 22rem;
    }
    
}
/* -----------Main Commynity-------- */
.main-community{
    width: 100vw;
}
.div-community {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.4rem;
}

.div-community section{
    margin: 1.5rem;
}
.div-community-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-community-2 img{
    height:20rem;
    

}
.div-community-2 div{
    padding: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    width: 50rem;
    margin: 2rem;
}
@media(max-width:768px){
    .main-community{
        padding: 0;
        text-align: start;
    }
}
/* ------------MAIN PROYECTOS------------ */
.caption-style-3{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    justify-content: space-around;
    margin-bottom: 6rem;
}

.caption-style-3 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    padding-top: 2.5rem;
}

.caption-style-3 li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);

}


.caption-style-3 li img{
    margin: 1px;
    padding: 0px;
    float: left;
    z-index: 0;
}


.caption-style-3 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:300px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.caption-style-3 img{
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
    background-color: #ff7f50;
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.caption-style-3 .caption-text h1{
    text-transform: uppercase;
    font-size: 18px;
}
.caption-style-3 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    top:20px;
}

/* ----- */

.project{
    text-align: center;
    padding-top: 2rem;
}

/* --------MAIN CONTACTAME------------ */
.contactame{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 40vw;

}

