*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fuente */
@font-face {
    font-family: 'Cardo', serif;
    font-family: 'Cinzel', serif;
    src: url("'https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel:wght@600&display=swap'");
}

/* -------------APLICANDO GRID AL INDEX------------------ */
.grid-padre1 {
    display: grid;
    grid-template-areas:
        "main-index main-index main-index main-index main-index main-index"
        "grid-body grid-body grid-body grid-body grid-body grid-body"
        "footer footer footer footer footer footer";
        font-family: "Cardo", serif !important;
        color: rgb(57, 62, 70);
    }

/* ----------HEADER Y NAV------------------- */
.header {
    background-color: rgb(255, 255, 255);
}
a{
    font-size: 1.25rem !important;
    font-family: "Cardo", serif !important;
    color: rgb(57, 62, 70)!important ;
}
.nav-item:hover a{
    transform: scale(1.1);
    color: rgb(190, 94, 59) !important;
}
/*---------------FIN HEADER Y NAV-----------------  */

/* ----------------MAIN--------------- */
.main-index{
    grid-area: main-index;
    min-height: 100vh;
    background-size: cover;
}
.carousel-caption{
    text-shadow: 3px 3px 8px rgb(7, 7, 7) !important;
}

.frase-principal h1{
    background-image: url(../recursos/imagenes/fondoparaindex.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.4375rem;
    font-size: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
    font-family:'Cinzel', serif;
    color: rgb(57, 62, 70);
} 
.section-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-top: 3.125rem;
}
.section-index a:hover{
    transform: scale(1.1);
    color: rgb(235, 175, 154) !important;
}
.section-index div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-index div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 1vh;
    font-size: 1.3rem;
}
/* contenedor de imagenes */
.grid-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5rem;
    margin: 3.125rem 0;
    padding: 3.125rem;
}
.galery-items{
    position: relative;
}
.galery-img{
    animation-name: galery-img1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 3500ms;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(0.5);
}
/*Contenedor de parrafo dentro de imagenes*/
.galery-text{
    animation-name: galery-img1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 3500ms;
    width:70%;
    max-width:400px;
    height: 80%;
    min-height:80%;
    object-fit: cover;
    filter: sepia(0.5);
}
@keyframes galery-img1{
    0%{scale: 1.1;translate: -1500px }
    15%{scale: 1.1;}
    25%{scale: 1.1;}
    40%{scale: 1.1;translate: 10px;}
    50%{scale: 1.1;translate: 10px;}
}
.galery-img:hover{
    filter: opacity(1);
}

/* media query de contenedor de imagenes */
@media (max-width:768px) {
    .grid-body{
        grid-template-columns: repeat(1,1fr);
    
    }
}

/* ---------FIN MAIN ----------------*/

/* -----------------FOOTER---------------- */
.footer {
    /* margin-top: 3rem; */
    display: grid;
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
}
.redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 1.2rem;
}
.icon{
    margin: 0.2rem;
}
.icon:hover a img{
    transform: scale(1.2);
}
.footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;
    padding-left: 1rem;
}
.footer a{
    text-decoration: none;
}
.flecha-arriba{
    position: fixed;
    bottom: 8rem;
    right: 1rem;
}
.flecha-arriba:hover{
    transform: scale(1.2);
}
.coppy{
    margin-top: 1.25rem;
}

/* -------------MAIN - SOBRE MI------------ */
/*bloque 1 izquierda*/
.sobre-mi{
    display: flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    background-image: url(../recursos/imagenes/fondoparaindex.jpg);
}

/*bloque 2 derecha*/
.sobre-mi-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    padding: 1rem;
    color: rgb(4, 4, 4);
    font-family:'Cinzel', serif;
    text-align:center;
}
.sobre-mi-2  p{
   font-family:"Cardo", serif;
   font-size: 1.5rem;
    
}
.sobre-mi-2 section h1 ,h2{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}
.sobre-mi-2 section p{
    font-size: 1.3rem;
    text-align: center;
}
ol li{
    font-size: 1.5rem;
}

/* Medias Query - sobre mi*/
@media(max-width:768px){
    .sobre-mi{
        flex-wrap: wrap;
    }  
}
/*fin seccion sobre mi*/
/* -----------Main Commynity-------- */
.main-community{
    background-image: url(../recursos/imagenes/fondoparaindex.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Cinzel', serif;
}
.div-community {
    margin: 1.5rem;
    font-size: 1.4rem;
}

.div-community section{
    margin: 1.5rem;
}
.div-community-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}
.div-community-2 img{
  height:50rem;
}
.div-community-2 div{
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 3rem;
    font-size: 1.4rem;
    width: 50rem;
    margin: 2rem;
}
.div-community-2 ul li{
    list-style-image: url(../recursos/iconos/network.png);
    list-style-position:inside;
    text-align: center;
    padding:20px;
}
/*fin seccion community manager*/
/* ------------MAIN PROYECTOS------------ */
.main-proyectos{
    font-family:'Cinzel', serif;
}

.main-proyectos h1{
    background-image: url(../recursos/imagenes/com.jpg);
    height:100vh;
    background-size: cover;
}
.project{
    color: rgb(255, 255, 255);
    font-size:4.375rem;
    letter-spacing:0.1875rem;
    text-align: center;
    padding-top:3.125rem;
}
.capa-caption{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.caption-style-3{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    justify-content: space-around;
    margin-bottom: 6rem;
}

.caption-style-3 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    padding-top: 2.5rem;
}

.caption-style-3 li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);

}

.caption-style-3 li img{
    margin: 1px;
    padding: 0px;
    float: left;
    z-index: 0;
}

.caption-style-3 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:300px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.caption-style-3 img{
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
    background-color: rgba(74, 71, 71, 0.659);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.caption-style-3 .caption-text h3{
    text-transform: uppercase;
    font-size: 18px;
}
.caption-style-3 .caption-text{
    z-index: 10;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    top:20px;
}
/*card feed*/
.card-feed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../recursos/imagenes/fondoparaindex.jpg);
    background-size: contain;
}
.card-feed img {
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;  
}
/* fin seccion proyecto----- */
/* --------MAIN CONTACTAME------------ */
.main-contact{
    background-image: url(../recursos/imagenes/fondoparaindex.jpg);
    font-family:'Cinzel', serif;
    padding-bottom:5rem;
}
.contact-tittle{
    color: #1c1a1a;
    text-align: center;
    padding:2.5rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:31.25rem;
    width:100%;
    height:100vh;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.25) ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 0.625rem;
    
}
fieldset{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
legend{
    font-size: 30px;
}
label{
    font-size:20px;
    letter-spacing: 2px;
    color: #ffffff;
}
input{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    font-size:1.25rem;
}
textarea{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}
.send{
    color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: 10px;
    padding:20px;
    border: none;
}
.send:hover{
    background-color: antiquewhite;
    color: black;
}
/* FIN */


