/* -----------Main Commynity-------- */
.main-community{
    background-image: url("../recursos/imagenes/fondoparaindex.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Cinzel', serif;
    .div-community {
    margin: 1.5rem;
    font-size: 1.4rem;
        section{
        margin: 1.5rem;
        }
    }
    .div-community-2{
        @extend .flex-row;
    flex-wrap: wrap;
    width:100%;
    h2{
        margin-top: 1rem;
    }
    p {
        text-align: center;
        padding: 0.7rem;
    }
    img{
        height:40rem;
        width:20rem;
        margin-top: 6rem;
    }
    div{
        @extend .flex-column;
        // padding: 0 3rem 0 3rem;
        font-size: 1.4rem;
        width: 50rem;
        // margin: 2rem;
    }
    ul li{
        list-style-image: url("../recursos/iconos/network.png");
        list-style-position:inside;
        text-align: center;
        padding:1.25rem;
    }

}
}

/*fin seccion community manager*/